.searchBar-bg-container {
  position: relative;
  min-height: 350px; /* Ajuste selon tes besoins */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar-bg-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 2; /* Ajuste l'opacité selon ta préférence */
}

.searchBar-content {
  position: relative;
  z-index: 1;
  width: 100%;
}
